@mixin properties() {
	--text-color: #f2ecff;

	--primary: #6362e7;
	--on-primary: var(--text-color);
	--primary-container: #636b74;
	--on-primary-container: #dddddd;

	--secondary: #6b738a;
	--on-secondary: #999999;
	--secondary-container: #444444;
	--on-secondary-container: #bbbbbb;

	--tertiary: #888888;
	--on-tertiary: #777777;
	--tertiary-container: #666666;
	--on-tertiary-container: #999999;

	--error: #444444;
	--on-error: #bbbbbb;
	--error-container: #222222;
	--on-error-container: #dddddd;

	--background: #1d1e26;
	--on-background: var(--primary);

	--outline: #888888;

	--surface: #262932;
	--on-surface: var(--primary);
	--surface-variant: #444444;
	--on-surface-variant: #bbbbbb;

	--info-container: #2196f3;
	--warning-container: #ffc107;
	--error-container: #cf6679;
	--background-color: #121212;
	--success-container: #388e3c;
}
